<!DOCTYPE html>
<html lang="he">
    <head>
        <title>show data</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='data.css') }}">
    </head>
    <body>
        {% for episode in episodes %}
            <div id="content">
                <p id="name">Episode Name: {{ episode.name }}</p>
                <p id="id">Episode ID: {{ episode.id }}</p>
                <p id="images">
                    <img src="{{ episode.images }}" alt="image" style="width:100px;height:100px;">
                </p>
                <p id="description">Episode description: {{ episode.description|safe }}</p>
                <p id="uri">Episode URI: {{ episode.uri }}</p>
                <p id="release_date">Episode Release Date: {{ episode.release_date }}</p>
                <p id="duration">Time: {{ episode.duration }} mins</p>
            </div>
        {% endfor %}
    </body>
</html>